@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

header {
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 1;
  height: 50px;
  width: 100%;
}

header .header {
  margin: auto;
  width: 795px;
  height: 100%;
}

header .ava {
  float: left;
  padding: 5px;
}

header .ava img {
  height: 40px;
  width: 40px;
}

header .name_text_block {
  padding-top: 10px;
  padding-bottom: 5px;
}

header .name_text_block .name_text {
  left: 460px;
  top: 10px;
  bottom: 0px;
  right: 0px;
  font-weight: 600;
  font-size: 14px;
  font-family: -apple-system,BlinkMacSystemFont,'Roboto','Helvetica Neue',Geneva,"Noto Sans Armenian","Noto Sans Bengali","Noto Sans Cherokee","Noto Sans Devanagari","Noto Sans Ethiopic","Noto Sans Georgian","Noto Sans Hebrew","Noto Sans Kannada","Noto Sans Khmer","Noto Sans Lao","Noto Sans Osmanya","Noto Sans Tamil","Noto Sans Telugu","Noto Sans Thai",sans-serif,arial,Tahoma,verdana;
  color: #2a5885;
}

header .name_text_block .name_text_2 {
  color: #939393;
  top: 24px;
  padding-top: 1px;
}

/* Адаптируем размеры под мобильные устройства */

body {
  background: #edeef0;
  height: auto;
  font-family: -apple-system,BlinkMacSystemFont,'Roboto','Helvetica Neue',Geneva,"Noto Sans Armenian","Noto Sans Bengali","Noto Sans Cherokee","Noto Sans Devanagari","Noto Sans Ethiopic","Noto Sans Georgian","Noto Sans Hebrew","Noto Sans Kannada","Noto Sans Khmer","Noto Sans Lao","Noto Sans Osmanya","Noto Sans Tamil","Noto Sans Telugu","Noto Sans Thai",sans-serif,arial,Tahoma,verdana;
  font-weight: 400;
  font-size: 16px;
}

a {
  color: #65829e;
}

img,
.time {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.body__content {
  width: 795px;
  margin: 0 auto;
  margin-top: 60px;
}

.slider {
  position: relative;
  overflow: hidden;
  margin: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.slider__wrapper {
  position: relative;
  overflow: hidden;
}

.slider__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  -o-transition: transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}

.slider__item {
  background: #fff;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
}

.slider__control {
  position: absolute;
  top: 50%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  width: 35px;
  height: 55px;
}

.slider__control_show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.slider__control_prev {
  left: 0;
}

.slider__control_next {
  right: 0;
}

.slider__control::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_prev::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_next::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider__indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.slider__indicators li {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 4px;
  margin-left: 4px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(73, 73, 73, 0.4);
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.slider__indicators li.active {
  background-color: #000;
}

.img-fluid {
  display: inline-block;
  height: auto;
  max-width: 100%;
}

.slider__content {
  overflow: auto;
  overflow-x: hidden;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider__content::-webkit-scrollbar {
  width: 12px;
}

.slider__content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.slider__content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.slider__content .header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 11px 16px;
  border-bottom: 1px solid #e7e8ec;
}

.slider__content .header p {
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  font-size: 14px;
  line-height: 19px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.slider__content .header p:nth-child(2) {
  padding-top: 1px;
  font-size: 12.5px;
  line-height: 19px;
  color: #939393;
}

.slider__content .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin: 0 16px;
  width: 763px;
  /* min-height: 451px; */
}

.slider__content .content .reply {
  padding: 8px 0 9px;
  border-top: 1px solid #e7e8ec;
  font-size: 12.5px;
}

.slider__content .content .reply .photo {
  float: left;
  padding-top: 2px;
  width: 42px;
}

.slider__content .content .reply .photo img {
  border-radius: 50%;
  border: 0;
  width: 42px;
  height: 42px;
}

.slider__content .content .reply .reply__content {
  text-align: left;
  margin-left: 54px;
  line-height: 17px;
}

.slider__content .content .reply .reply__content .name {
  padding-bottom: 2px;
  font-size: 13px;
  overflow: hidden;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  color: #2a5885;
}

.slider__content .content .reply .reply__content .text {
  padding-bottom: 2px;
  color: #000;
  word-wrap: break-word;
  font-size: 12.5px;
}

.slider__content .content .reply .reply__content .text .img {
  padding: 5px 0;
  max-width: 150px;
}

.slider__content .content .reply .reply__content .text img {
  margin: 0 5px 5px 0;
  max-width: 155px;
  height: 75px;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
}

.slider__content .content .reply .reply__content .text .img-hover {
  display: none;
}

.slider__content .content .reply .reply__content .text .img-hover img {
  min-width: 100%;
  min-height: 100%;
}

.slider__content .content .reply .reply__content .text .img:hover .img-hover {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  text-align: center;
  z-index: 1;
  outline: 9999px solid rgba(0, 0, 0, 0.5);
}

.slider__content .content .reply .reply__content .time {
  color: #939393;
  font-size: 12px;
}

.slider__content .content .reply:nth-child(1) {
  border-top: 0 none !important;
}

.slider__content .nav {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 10px 5px 10px 70px;
  background: #fafbfc;
  border-top: 1px solid #e7e8ec;
  height: auto;
  line-height: 18px;
  font-size: 13px;
}

.slider__content .nav .nav__p {
  padding-top: 5px;
  padding-bottom: 5px;
}

.slider__content .nav_2 {
  display: none;
  padding: 0;
  background: #fafbfc;
  border-top: 2px solid #e7e8ec;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000;
}

.slider__content .nav_2 textarea {
  margin-bottom: 0;
  padding: 14px 20px 16px;
  border: 0;
  overflow: hidden;
  height: 50px;
  border-radius: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 42px;
  resize: vertical;
  vertical-align: top;
  width: 100%;
}

.slider__content .nav_2 .nav_2__form {
  display: block;
  border-top: 2px solid #e7e8ec;
  height: 62px;
}

.slider__content .nav_2 .nav_2__form .nav_2__form-content {
  padding-top: 0;
  margin: 15px 16px 15px 16px;
}

.slider__content .nav_2 .nav_2__form .nav_2__form-content .nav_2__form-content-button {
  float: right;
}

.slider__content .nav_2 .nav_2__form .nav_2__form-content .nav_2__form-content-button button {
  padding: 7px 16px 8px;
  margin: 0;
  cursor: pointer;
  text-align: center;
  background: 0 0;
  background-color: #5181b8;
  border: 0;
  border-radius: 4px;
  font-size: 12.5px;
  display: inline-block;
  zoom: 1;
  white-space: nowrap;
  outline: 0;
  font-family: -apple-system,BlinkMacSystemFont,'Roboto','Helvetica Neue',Geneva,"Noto Sans Armenian","Noto Sans Bengali","Noto Sans Cherokee","Noto Sans Devanagari","Noto Sans Ethiopic","Noto Sans Georgian","Noto Sans Hebrew","Noto Sans Kannada","Noto Sans Khmer","Noto Sans Lao","Noto Sans Osmanya","Noto Sans Tamil","Noto Sans Telugu","Noto Sans Thai",sans-serif,arial,Tahoma,verdana;
  vertical-align: top;
  line-height: 15px;
  text-decoration: none;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slider__content .navbar-2 .nav {
  display: none;
}

.slider__content .navbar-2 .nav_2 {
  display: block;
}

.slider__content .nav__block {
  display: none;
}

.slider__content textarea:hover .nav__block {
  display: block;
}

/* Адаптируем размеры под мобильные устройства */

@media screen and (max-width: 1000px) {
  header {
    height: 55px;
  }

  header .header {
    width: 955px;
  }

  header .ava img {
    height: 45px;
    width: 45px;
  }

  header .name_text_block {
    padding-top: 12px;
  }

  header .name_text_block .name_text {
    font-size: 16px;
  }

  header .name_text_block .name_text_2 {
    padding-top: 2px;
    font-size: 15px;
  }

  .body__content {
    width: 955px;
    /* + 160px на моб */
    margin-top: 75px;
  }

  .slider {
    max-width: 955px;
  }

  .slider__content::-webkit-scrollbar {
    width: 0px;
  }

  .slider__content .header {
    padding: 11px 16px;
    border-bottom: 2px solid #e7e8ec;
  }

  .slider__content .header p {
    font-size: 21px;
    line-height: 23px;
  }

  .slider__content .header p:nth-child(2) {
    font-size: 16px;
    padding-top: 4px;
    line-height: 19px;
  }

  .slider__content .content {
    width: 923px;
  }

  .slider__content .content .reply {
    border-top: 2px solid #e7e8ec;
    font-size: 12.5px;
  }

  .slider__content .content .reply .photo {
    width: 45px;
  }

  .slider__content .content .reply .photo img {
    width: 45px;
    height: 45px;
  }

  .slider__content .content .reply .reply__content {
    margin-left: 57px;
    line-height: 29px;
  }

  .slider__content .content .reply .reply__content .name {
    font-size: 23px;
  }

  .slider__content .content .reply .reply__content .text {
    font-size: 22px;
  }

  .slider__content .content .reply .reply__content .time {
    font-size: 18.5px;
  }

  .slider__content .nav {
    border-top: 2px solid #e7e8ec;
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (min-height: 900px) {
  .slider__content {
    height: 820px;
  }
}

@media screen and (min-height: 1000px) {
  .slider__content {
    height: 920px;
  }
}

@media screen and (min-height: 1100px) {
  .slider__content {
    height: 1020px;
  }
}

@media screen and (min-height: 1200px) {
  .slider__content {
    height: 1120px;
  }
}

@media screen and (min-height: 1300px) {
  .slider__content {
    height: 1220px;
  }
}

@media screen and (min-height: 1400px) {
  .slider__content {
    height: 1320px;
  }
}

@media screen and (min-height: 1500px) {
  .slider__content {
    height: 1420px;
  }
}